<launch>
    <arg name="robot_name" default="unodopo" />
  
    <include file="$(find unodopo)/launch/description.launch" />
      
    <!-- Launch multi laser merger -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
      <param name="destination_frame" value="base_link"/>
      <param name="cloud_destination_topic" value="/merged_cloud"/>
      <param name="scan_destination_topic" value="/scan"/>
      <param name="laserscan_topics" value ="/front_left/scan /back_right/scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
  
      <param name="angle_min" value="-3.1415926"/>
      <param name="angle_max" value="3.1415926"/>
      <param name="angle_increment" value="0.004358"/>
      <param name="scan_time" value="0.025"/>
      <param name="range_min" value="0.10"/>
      <param name="range_max" value="10.0"/>
    </node>
  
</launch>