<!-- For unodopo robot simulation in adhoc_simulations -->

<launch>
  <!-- AMCL args - initial robot position -->
  <arg name="bot_x_pos" default="22.0"/>
  <arg name="bot_y_pos" default="-17.0"/>
  <arg name="bot_z_pos" default="21.0"/>  <!-- not in use for AMCL as it is 2D -->
  <arg name="bot_a_pos" default="1.57"/>

  <!-- move_base args -->
  <arg name="move_forward_only" default="true"/>
  <arg name="cmd_vel_topic" default="cmd_vel"/>
  <arg name="odom_topic" default="odom"/>
  
  <!-- shared args -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="set_base_frame" default="base_link"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- AMCL -->
  <include file="$(find unodopo_navigation)/launch/include/amcl.launch">
    <arg name="initial_pose_x" default="$(arg bot_x_pos)"/>
    <arg name="initial_pose_y" default="$(arg bot_y_pos)"/>
    <arg name="initial_pose_a" default="$(arg bot_a_pos)"/>
    
    <arg name="scan_topic"     default="$(arg scan_topic)"/>
    <arg name="set_base_frame" default="$(arg set_base_frame)"/>
    <arg name="set_odom_frame" default="$(arg set_odom_frame)"/>
    <arg name="set_map_frame"  default="$(arg set_map_frame)"/>
  </include>

  <!-- move_base -->
  <include file="$(find unodopo_navigation)/launch/include/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="cmd_vel_topic" default="$(arg cmd_vel_topic)" />
    <arg name="odom_topic" default="$(arg odom_topic)" />
  
    <arg name="base_frame" default="$(arg set_base_frame)" />
    <arg name="odom_frame" default="$(arg set_odom_frame)" />
    <arg name="scan_frame" default="$(arg scan_topic)" />
    <arg name="map_frame" default="$(arg set_map_frame)" />
  </include>

</launch>